@mixin d-flex-center {
    display: --ms-flexbox;
    display: --webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin d-flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}